<div class="row">
  <div class="col-md-6">
    <ul class="package-overview-details text-left">
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="package-overview-details text-left">
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    </ul>
  </div>
</div>
<br>
<a href="#" class="btn btn-primary float-right">Customize package</a>
