body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: $dark-gray;
  * {
    transition: background-color ease 0.3s;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  color: $blue-primary;
}

ul {
  padding: 0;
}

hr {
  border-top: 1px solid #ddd;
}

a {
  text-decoration: none;
  &:hover, &:visited, &:focus {
    text-decoration: none;
  }
}

body > .container-fluid > * {
  margin-top: 40px;
}

p:last-child {
  margin-bottom: 0;
}

// Overwrting some bootstrap classes

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: $blue-primary;
  // background-color: #42a1ec;
  // background: -webkit-linear-gradient(#42a1ec,#0070c9);
}

.btn {
  width: 114px;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 4px;
  margin-right: 7px;
  &:last-child {
    margin-right: 0;
  }
}

.btn.float-right {
  margin-left: 7px;
  margin-right: 0;
  &:last-child {
    margin-left: 0;
  }
}
// Convenient classes

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-red {
  color: $red;
}

.no-padding {
  padding: 0;
}

.card {
  h3{
  text-align: center;
  color: $blue-primary;
  }
  border: solid 0.1px $blue-primary;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
