* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  color: #333;
}

hr {
  border-top: 1px solid #ddd;
}

body > .container-fluid > * {
  margin-top: 40px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #42a1ec;
  // background: -webkit-linear-gradient(#42a1ec,#0070c9);
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
