body > .container-fluid > * {
  margin-top: 40px;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
