/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
// $brand-color: #42a1ec;

$red: #EE5F5B;
// $blue-primary: #42a1ec;
$red-dark: #C02932;
$red-light: #F7747E;
$blue: #42a1ec;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #888888;
$light-gray: #E9E9E9;
$dark-gray: #333;
$dark-gray-2x: #6e727a;

// after design implementation
$brand-color: #417BEF;

$blue-primary: #417BEF;
$blue-secondary: #43B4ED;
$blue-only: #0EE0FF; //laptop color
$blue-green: #00FCD6; //desktop color
$green-only: #76FBA2; //workstation color

