.homepage-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.homepage-footer {
  padding: 20px 15px;
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  color: #fff;
  h5 {
    color: #fff;
  }
}

.package-overview-container {
  padding: 0 20px;
  .package-overview-select {
    padding: 20px;
    transition: background ease 0.3s;
    .package-overview-details {
      margin-left: 15px;
    }
  }
  ul {
    font-size: 14px;
    color: #555;
  }
  .package-price {
    font-size: 2em;
    font-weight: lighter;
  }
}

.package-overview-container.active {
  a {
    h4 {
      font-weight: normal;
      color: #fff;
    }
    ul {
      color: #fff;
    }
  }
}

.package-icon-container {
  padding: 25px;
  .package-icon {
    width: 100px;
    height: auto;
  }
}

.package-details {
  width: 100%;
  position: fixed;
  background: #f8f8f8;
  border-bottom: 0;
  border-top: 1px solid #d6d6d6;
  z-index: 999;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  bottom: 0;
  top: auto;
  font-size: 12px;
  list-style: none;
}

.tab-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.package-price-details {
  font-size: 1.5em;
  font-weight: normal;
  }

.package-customize-btn {
  font-size: 14px;
  padding: 8px 20px;
  font-weight: lighter;
}

.package-customize-btn-grp {
  margin-bottom: 10px;
}

.package-quantity-input {
  width: 100%;
  height: 3.3em;
}

.footer-social-icon {
  margin-right: 1em;
  &:last-child {
    margin-right: 0;
  }
}

.footer-contact-icon {
  color: $orange;
}

.footer-social-icon {
  * {
    transition: color ease 0.3s;
  }
  .facebook-bg {
    color: #3b5998;
  }

  .twitter-bg {
    color: #1da1f2;
  }

  .google-bg {
    color: #dd4b39;
  }

  .pinterest-bg {
    color: #bd081c;
  }
  &:hover {
    .facebook-bg {
      color: darken(#3b5998, 5%);
    }

    .twitter-bg {
      color: darken(#1da1f2, 5%);
    }

    .google-bg {
      color: darken(#dd4b39, 5%);
    }

    .pinterest-bg {
      color: darken(#bd081c, 5%);
    }
  }
}

.promotion {
  position: relative;
  .fa-pulse.promotion-badge {
    width:200px;
    -webkit-animation: fa-spin 3s infinite steps(4);
    animation: fa-spin 3s infinite steps(4);
  }
  .promotion-text {
    font-weight: bold;
    font-size: 1.3em;
    color: #fff;
    position:absolute;
    top: -10px;
    left: 25px;
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
    text-shadow: -1px 0 #1da1f2, 0 1px #1da1f2, 1px 0 #1da1f2, 0 -1px #1da1f2;
  }
}
