.homepage-section {
  padding: 40px 0;
}

.package-overview-container {
  padding: 0 20px;
  .package-overview-select {
    padding: 20px;
    transition: background ease 0.3s;
  }
  ul {
    font-size: 14px;
    color: #555;
  }
  .package-price {
    font-size: 2em;
    font-weight: lighter;
  }
}

.package-overview-container.active {
  a {
    h4 {
      font-weight: normal;
      color: #fff;
    }
    ul {
      color: #fff;
    }
  }
}

.package-icon-container {
  padding: 30px;
  .package-icon {
    width: 100px;
    height: auto;
  }
}

.package-details {
  width: 100%;
  position: fixed;
  background: #f8f8f8;
  border-bottom: 0;
  border-top: 1px solid #d6d6d6;
  z-index: 999;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  bottom: 0;
  top: auto;
  font-size: 12px;
  list-style: none;
}

.tab-content {
  padding-top: 1em;
  padding-bottom: 1em;
}
