//index.html.erb
.container-fluid{
  h3{
    color: $blue-primary;
    margin-top: 40px;
    font-weight: 400;
  }
}
.homepage-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.promotion{
  .special-deal-wrapper{
    margin-top: 18px;
    .special-deal{
      width: 170px;
      margin-bottom: 0px;
    }
  }
  .promo-wrapper{
    .promo-picture{
      margin-top: 20px;
      width: 170px;
    }
  }
}
