.confirm-checkout{
  width: 160px;
}

.card-summary{
  border: 1px solid #ddd;
}

#checkout .nav-pills > li.active > a, #checkout .nav-pills > li.active > a:hover, #checkout .nav-pills > li.active > a:focus {
  color: white;
}

#summary-order-total{
  font-size:20px;
}

.btn-save-and-continue{
  width:160px;
}
