.confirm-checkout{
  width: 160px;
}

.card-summary{
  border: 1px solid #ddd;
}

#checkout .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: white;
}
