
.homepage-footer {
  height: 80px;
  background: $gray-primary;
  display: flex;
  align-items: center;
  padding-left: auto;
  padding-right: auto;
}

// .footer-social ul a{
//   display: flex;
//   // justify-content: space-around;
//   align-items: center;
// }
.social-icon{
  font-size: 24px;
}

.footer-social-icon {
  * {
    transition: color ease 0.3s;
  }
  .fa {
    color: $blue-primary;
  }
  &:hover {
    .fa {
      color: darken($blue-primary, 15%);
    }
  }
}
