.navbar {
  // position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: block;
  margin: 0 0 5px;
  width: 100%;
  height: 80px;
  min-height: 48px;
  border: none;
  border-radius: 0;
  background: $gray-primary;
  border-bottom: 1px solid #d6d6d6;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.logo-group {
  float: left;
  margin-left: 30px;
  height: 80px;
  max-width: 200px;
  overflow: hidden;
  padding: 14px 0;
  .navbar_logo {
    height: 48px;
    img {
      height: 100%;
      width: auto;
      padding: 5px 0;
    }
  }
}

.navbar-group {
  float: right;
  height: 80px;
  line-height: 80px;
  padding: 0 10px;
  cursor: pointer;
  color: $blue-primary;
  transition: color 0.3s ease;
  a {
    display: inline-block;
    height: 100%;
    padding-right: 10px;
    &:hover, &:focus {
      text-decoration: none;
      color: $blue-secondary;
    }
    .avatar-name {
      display: inline-block;
      margin-bottom: 0;
      font-size: 15px;
      color: $blue-primary;
    }
  }
}

.avatar-round {
  display: inline-block;
  padding: 5px;
  width: auto;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
  margin-right: 5px;
  img {
    border: 1px solid #fff;
    border-radius: 100%;
    height: 100%;
    width: auto;
  }
}

.dropdown-menu {
  text-align: center;
  padding: 0;
  background-color: $gray-primary;
  border-radius: 3px;
  a.dropdown-item {
    line-height: 2.5em;
    color: $blue-primary;
    display: block;
    font-size: 15px;
    &:hover {
      background-color: darken($gray-primary, 10%);
      text-decoration: none;
    }
  }
}

.navbar-group.cart-group {
  a {
    color: #fff;
    .fa {
      margin-right: 5px;
      color: $blue-primary;
      transition: color 0.3s ease;
      &:hover {
        color: $blue-secondary;
      }
    }
    .shopping-cart-count {
      font-size: 14px;
      background-color: $blue-secondary;
      border-radius: 50%;
      width: 25px;
      span {
        line-height: 25px;
        text-align: center;
        display: block;
        margin: 0;
      }
    }
  }
  // &:hover {
  //   background-color: #444;
  //   background-color: linear-gradient(#222,#444);
  // }
}

//contact modal
.address-title{
  color: $blue-primary;
}
.modal-backdrop{
  // position: static !important;
}

//sign-in

.modal-content{
  margin-top: 80px;

  .modal-header{
    text-align: center;
  }
}


.modal-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 40px;

  .sign-in{
    border: 1px blue solid;
    width: 450px;
    margin-bottom: 10px;
    #password-credentials{
      display: center;
      align-items: center;
      margin: 20px;
      text-align: center;
      width: 400px;

      .form-group{
        width: 400px;
        height: 40px;

      }
      .checkbox{
        width: 400px;
        height: 40px;
        text-align: left;
        margin-bottom: 20px;

      }

    }
  }
}
