<footer class="row homepage-footer">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-3 col-md-offset-10 footer-social">

        <ul>
          <a class="fa fa-stack footer-social-icon" href="#">
            <i class="fa fa-facebook-official fa-stack-2x fa-inverse social-icon"></i>
          </a>
          <a class="fa fa-stack footer-social-icon" href="#">
            <i class="fa fa-twitter fa-stack-2x fa-inverse social-icon"></i>
          </a>
          <a class="fa fa-stack footer-social-icon" href="#">
            <i class="fa fa-google-plus fa-stack-2x fa-inverse social-icon"></i>
          </a>
          <a class="fa fa-stack footer-social-icon" href="#">
            <i class="fa fa-linkedin-square fa-stack-2x fa-inverse social-icon"></i>
          </a>
        </ul>
      </div>
    </div>
  </div>
</footer>
