<div class="modal fade" id="myModal-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign up!</h4>
      </div>
      <div class="modal-body">

        <div class="sign-in">
          <fieldset id="password-credentials">
            <h1><strong>Nouveau client</strong></h1>
            <div class="all-form">
              <div class="form-group">
                <input class="form-control" tabindex="1" placeholder="first_name" type="email" name="spree_user[email]" id="spree_user_email">
              </div>

              <div class="form-group">
                <input class="form-control" tabindex="1" placeholder="last_name" type="email" name="spree_user[email]" id="spree_user_email">
              </div>

              <div class="form-group">
                <input class="form-control" tabindex="1" placeholder="Courriel" type="email" name="spree_user[email]" id="spree_user_email">
              </div>
                <hr>
              <div class="form-group">
                <input class="form-control" tabindex="2" placeholder="Mot de passe" type="password" name="spree_user[password]" id="spree_user_password">
              </div>

              <div class="form-group">
                <input class="form-control" tabindex="2" placeholder=" Confirm Mot de passe" type="password" name="spree_user[password]" id="spree_user_password">
              </div>

              <div class="form-group">
                <input type="submit" name="commit" value="Connexion" class="btn btn-primary btn-block" tabindex="3" data-disable-with="Connexion">
              </div>
            </div>

          </fieldset>
       </div>
       <div class="text-center">
           ou
           <a href="/signup">Créer un nouveau compte</a> |
           <a href="/password/recover">Mot de passe oublié</a>
         </div>

      </div>
    </div>
  </div>
</div>
