.show-package{
  h3{
    color: $blue;
  }
  .zoom-details{
    p{
      font-size: 12px;
      margin: 2px 0;
    }
  }
  .details-small-size{
    font-size: 13px;
  }
  .price-card{
    border: solid 1px #E9E9E9;
    padding: 20px 20px;
    margin-top: 40px;
  }
  .first-card{
    margin-top: 30px;
  }
  .product-price{
    color: $blue-secondary;
    font-size: 13px;
  }
  .custom-options{
    font-size: 14px;
  }
  .customize-card{
    margin-bottom: -20px;
  }
}

.customized-package-quantity-input {
  width: 45%;
  height: 2em;
  margin-bottom: 1em;
}
.quantity-input-title{
  margin-top: 4px;
}

#checkout-link{
  margin-top: 5px;
}
